#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
  }
  
  #navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  #navbar form {
    display: flex;
    gap: 0.5rem;
  }
  
  #navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
  }
  
  #navbar form button {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }


  @media (max-width:820px){

    #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #121212;
    }
    
    #navbar h2 a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size:0.5rem;
    }
    
    #navbar form {
      display: flex;
      gap: 0.5rem;
    }
    
    #navbar input {
      padding: 0.2rem 0.8rem;
      border-radius: 4px;
      border: none;
      width:4rem;
      height:1rem;
      font-size:0.3rem;
    }
    
    #navbar form button {
      background-color: #f7d354;
      border: 2px solid #f7d354;
      border-radius: 4px;
      color: #000;
      padding: 0.3rem;
      font-size: 0.3rem;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  



  }